
#name{
    color: blueviolet;
    width:50px;
}

.nameclass{
    color:red ;
    width:150px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}
#num1{
    color: pink;
}
.num1class{
    color: black;
}
